{% load static %}
<html lang="en">
  <head><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WHR6H0QVCM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-WHR6H0QVCM');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>HEADGEAR | FUNAAB BUY</title>

     <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/site.webmanifest' %}">

   <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}"
    />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


    <link
      rel="stylesheet"
      href="{% static 'plugins/owl-carousel/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/owl-carousel/assets/owl.theme.default.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/slick/slick/slick.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/nouislider/nouislider.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/lightGallery-master/dist/css/lightgallery.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/select2/dist/css/select2.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />


<style>
 .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s; /* Smooth fade-in effect */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

  body.modal-active {
    overflow: hidden; /* Prevent scrolling */
    pointer-events: none; /* Disable all interactions */
  }

  .modal-content {
  background-color:#0000005c;
  margin: auto;
  padding: 20px;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Soft shadow */
  width: 80%; /* Adjust width for larger screens */
  max-width: 400px; /* Set maximum width */
  text-align: center;
  animation: slideIn 0.5s; /* Smooth sliding effect */
  transform: translateY(50%); /* Center the modal vertically */
}

@keyframes slideIn {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Brand logo */
.brand-logo {
  width: 120px; /* Adjust size as needed */
  margin-bottom: 15px;
}

/* Modal header */
.modal-header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

/* Modal body */
.modal-body {
  margin-top: 10px;
}

.modal-body p {
  font-size: 14px;
  color: white;
  margin-bottom: 20px;
}

/* Social buttons styling */
.social-buttons {
  display: flex;
  justify-content: center;
}

.social-btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background-color:#25d366d1; /* WhatsApp green */
  margin-bottom: 10px;
}

.social-btn i {
  margin-right: 8px;
}

.social-btn:hover {
  background-color: #1ac14b; /* Darker green on hover */
}

/* Close button styling */
.close {
  color: white;
  float: right;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive design */
/* For mobile screens */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
    padding: 15px;
    top: -20%; /* Moves modal up on smaller screens */
  }
}

/* For tablets and small laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .modal-content {
    width: 70%;
    top: 5%; /* Slightly higher positioning */
  }
}

/* For larger screens (laptops and desktops) */
@media (min-width: 1025px) {
  .modal-content {
    width: 50%;
    top: -50%; /* Adjust this value to move it higher */
  }
}


  .social-btn {
    padding: 8px 10px;
  }
}
</style>


  </head>

  <body>
    <header class="header header--1" data-sticky="true">
      <div class="header__top">
        <div class="ps-container">
          <div class="header__left">
            <div class="menu--product-categories"></div>
            <a class="ps-logo" href=""
              ><img src="{% static 'img/logo_light.png' %}" alt=""
            /></a>
          </div>
          <div class="header__center"></div>
        </div>
      </div>
      <nav class="navigation">
        <div class="ps-container">
          <div class="navigation__left">
            <div class="menu--product-categories"></div>
          </div>
          <div class="navigation__right">
            <ul class="menu">
              <li>
                <a href="index">Home</a><span class="sub-toggle"></span>
              </li>
              <li class="menu-item-has-children has-mega-menu">
                <a href="shop">Shop</a
                ><span class="sub-toggle"></span>
                <div class="mega-menu">
                  <div class="mega-menu__column">
                    <h4>Catalog Pages<span class="sub-toggle"></span></h4>
                    <ul class="mega-menu__list">
                      <li><a href="electronics">Electronics</a></li>
                      <li><a href="home">Home  </a></li>
                      <li><a href="beauty">Health &amp; Beauty</a></li>
                      <li>
                        <a href="jewelry">Jewelry &amp; Accessories</a>
                      </li>
                       <li><a href="apparel">Apparel</a></li>
                        <li><a href="bags">Bags</a></li>
                         <li><a href="footwear">Footwear</a></li>
                      <li><a href="headgear">Headgear</a></li>
                      <li><a href="food">Food</a></li>
                      <li>
                        <a href="computers">Gadgets &amp; Computers</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
               <li class="menu-item-has-children has-mega-menu"><a href="#">Pages</a><span class="sub-toggle"></span>
                            <div class="mega-menu">
                                <div class="mega-menu__column">
                                    <h4>Basic Page<span class="sub-toggle"></span></h4>
                                    <ul class="mega-menu__list">
                                         <li><a href="about">About Us</a></li>
                <li><a href="vendor">Become a Vendor </a></li>
                 <li><a href="sell">Sell Product</a></li>
                 <li><a href="faqs">FAQ's</a></li>
                
                                    </ul>
                                </div>
                                
                            </div>
                        </li>
                        <li><a href="contact">Contact Us</a><span class="sub-toggle"></span></li>
                         <li><a  href="login">Log In </a><span class="sub-toggle"></span></li>
                        <li><a  href="register"> Sign up</a><span class="sub-toggle"></span></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>



<div id="shareModal" class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header" style="text-align: center;">
      <img src="{% static 'img/logo_light.png' %}" alt="Marketplace Logo" style="max-width: 100%; height: auto;">
    </div>
    <div class="modal-body">
      <p style="color: white;">📢 Help us spread the word! <br>Share with friends so they don’t miss out on our Marketplace!</p>
      <div class="social-buttons" style="text-align: center;">
       <a href="https://api.whatsapp.com/send?text=Hey%20Funaabites!%20🎉%0A%0AYour%20one-stop%20shop%20for%20everything%20is%20live%20at%20Funaab%20Marketplace!%20🛍%0A%0ADiscover%20awesome%20products%20and%20exclusive%20deals%20from%20fellow%20students!%20💼%0A%0ADon%E2%80%99t%20miss%20out%20%E2%80%94%20click%20now%3A%20https://funaabbuy.com.ng%20🚀" target="_blank" class="social-btn whatsapp" 
           style="display: inline-block; background-color:#25d366d1; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold;">
          <i class="fab fa-whatsapp"></i> Share on WhatsApp
        </a>
      </div>
      <div id="confirmationMessage" style="display: none; margin-top: 20px; text-align: center;">
        <p>Did you share it on WhatsApp? 🚀 Sharing helps new users discover our marketplace and brings more buyers to your products📈👀</p>
        <button id="confirmShareBtn" class="ps-btn ps-btn--fullwidth" style="background-color: #28a745; color: white;">Yes, I shared!</button>
      </div>
    </div>
  </div>
</div>






    <header class="header header--mobile" data-sticky="true">
      <div class="header__top">
        
      </div>
      <div class="navigation--mobile">
        <div class="navigation__left">
          <a class="ps-logo" href=""
            ><img src="{% static 'img/logo_light.png' %}" alt=""
          /></a>
        </div>
      </div>
    </header>
    
    
    <div class="ps-breadcrumb">
      <div class="ps-container">
        <ul class="breadcrumb">
          <li><a href="">Home</a></li>
          <li>Shop</li>
        </ul>
      </div>
    </div>
    <div class="ps-page--shop" id="shop-sidebar">
      <div class="container">
        <div class="ps-layout--shop">
          <div class="ps-shopping ps-tab-root">
            <div class="ps-tabs">
              <div class="ps-tab active" id="tab-1">
                <div class="ps-shopping-product">
                  <div class="row">
                    
                   

    <!-- Loop through the products and display only those in the Electronics category -->
    {% for product in products %}
      {% if product.product_category == 'headgear' %}
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6">
          <div class="ps-product">
     
       <div class="ps-product__thumbnail">
                    <a href="JavaScript:void(0)" onclick="showImage('{{ product.product_image_url }}')">
                        {% if product.product_image_url %}
                            <img src="{{ product.product_image_url }}" alt="{{ product.product_name }}" />
                        {% else %}
                            <img src="{% static 'img/default-placeholder.png' %}" alt="No image available" />
                        {% endif %}
                    </a>
                    <div class="ps-product__badge">
                        {% if product.is_sold %}
                            SOLD
                        {% else %}
                            &#8358 {{ product.formatted_price }}
                        {% endif %}
      </div></div>

      <div class="ps-product__container">
        <!-- Display seller's location instead of product category -->
        <a class="ps-product__vendor" href="JavaScript:void(0)">LOCATION: {{ product.location }}</a>
        <div class="ps-product__content">
          <a class="ps-product__title" href="JavaScript:void(0)" style="text-transform: uppercase;">
    {{ product.product_name }}
</a>

            <p class="ps-product__contact">
              <a href="https://wa.me/{{ product.phone_number }}?text=Hello%2C%20I%E2%80%99m%20interested%20in%20the%20{{ product.product_name|urlencode }}%20you%20posted%20on%20Funaab%20Buy"
              target="_blank">Chat Seller</a>
</p><br><br><br>
        </div>
      </div>
    </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>


                  </div>
                </div>

<div id="imageModal" style="display: none; position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); text-align: center; justify-content: center; align-items: center;">
  <span onclick="closeImage()" style="position: absolute; top: 140px; right: 40px; color: white; font-size: 60px; font-weight: bold; cursor: pointer;">&times;</span>
  
  <div style="display: flex; height: 100%; justify-content: center; align-items: center;">
    <img id="modalImage" style="max-width: 90%; max-height: 90%; object-fit: contain;" />
  </div>
</div>







              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="ps-newsletter">
      <div class="container">
    <form id="newsletter-form" class="ps-form--newsletter" action="https://formspree.io/f/myzgazpz" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ps-form__left">
                    <h3>Newsletter</h3>
                    <p>Subscribe to get information about products and coupons</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ps-form__right">
                    <div class="form-group--nest">
                        <input
                            class="form-control"
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Email address"
                            required
                        />
                        <button type="submit" class="ps-btn">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Success Message (initially hidden) -->
    <div id="success-message" style="display: none; margin-top: 20px; color: green;">
        Thank you for subscribing! You'll receive our newsletter shortly.
    </div>
</div>
</div>
   
      <footer class="ps-footer">
      <div class="ps-container">
        <div class="ps-footer__widgets">
          <aside class="widget widget_footer widget_contact-us">
            <h4 class="widget-title">Contact us</h4>
            <div class="widget_content">
              <p>Call us 24/7</p>
              <h3>+2349134771812</h3>
              <p>Federal University of Agriculture, Abeokuta <br /></p>
            </div>
          </aside>
          <aside class="widget widget_footer">
            <h4 class="widget-title">Quick links</h4>
            <ul class="ps-list--link">
                <li><a href="about">About Us</a></li>
                <li><a href="vendor">Become a Vendor </a></li>
                 <li><a href="sell">Sell Product</a></li>
                 <li><a href="faqs">FAQ's</a></li>
            </ul>
          </aside>

          <aside></aside>
        </div>
      </div>
    </footer>

     
    <div class="ps-panel--sidebar" id="menu-mobile">
        <div class="ps-panel__header">
            <h3>Pages</h3>
        </div>
        <div class="ps-panel__content">
            <ul class="menu--mobile">
                               
               <li><a href="about">About Us</a></li>
                <li><a href="vendor">Become a Vendor </a></li>
                 <li><a href="sell">Sell Product</a></li>
                 <li><a href="faqs">FAQ's</a></li>
                 <li><a href="contact">Contact Us</a></li>
              
            </ul>
        </div>
    </div>


     <div class="ps-panel--sidebar" id="navigation-mobile">
        <div class="ps-panel__header">
            <h3>Categories</h3>
        </div>
        <div class="ps-panel__content">
            <div class="menu--product-categories">
               
                <div class="menu__toggle">
 <ul class="menu--mobile">
                       <li><a href="electronics">Electronics</a>
                                        </li>
                                        <li><a href="home">Home  </a>
                                        </li>
                                        <li><a href="beauty">Health & Beauty</a>
                                        </li>
                                        <li><a href="jewelry">Jewelry & Accessories</a>
                                        </li>
                                        <li><a href="apparel">Apparel </a></li>

                                    <li><a href="bags">Bags</a></li>
                        

                                     <li><a href="footwear">Footwear</a></li>
                    

                                        <li><a href="headgear">Headgear</a></li>
                                        


                                        <li><a href="food">Food</a>
                                        </li>


                                        <li><a href="computers">Gadgets & Computers</a>
                                        </li>
                        
                    </ul>
                </div>
            </div>
          
        </div>

      

    </div>
    <div class="navigation--list">
        <div class="navigation__content"><a class="navigation__item " href="index"><i class="fas fa-home"></i><span> Home</span></a>

        <a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile"><i class="fas fa-shopping-cart"></i><span>Shop</span></a>

            <a class="navigation__item ps-toggle--sidebar " href="#menu-mobile"><i class="fas fa-info-circle"></i><span> Pages</span></a>

            <a class="navigation__item " href="register"><i class="fas fa-user"></i>

<span> Account</span></a></div>


    </div>
     

    <script>
  document.addEventListener('DOMContentLoaded', function () {
    const showModal = "{{ show_share_modal }}"; // Server-side variable
    const lastSharedTime = localStorage.getItem('lastSharedTime');
    const now = new Date();
    const modal = document.getElementById('shareModal');
    const confirmationMessage = document.getElementById('confirmationMessage');
    const confirmShareBtn = document.getElementById('confirmShareBtn');

    // Check if the modal should be shown based on session and localStorage
    if (showModal === 'True' && (!lastSharedTime || (new Date(lastSharedTime) < now.setHours(now.getHours() - 24)))) {
        modal.style.display = 'block';

        // WhatsApp share button
        const shareBtn = document.querySelector('.whatsapp');
        shareBtn.addEventListener('click', function () {
            // Keep the modal open and show the confirmation message
            confirmationMessage.style.display = 'block';
        });

        // Confirm share button
        confirmShareBtn.addEventListener('click', function () {
            // Set localStorage flag to remember the user shared
            localStorage.setItem('lastSharedTime', new Date().toISOString());

            // Hide the modal and update the session status
            modal.style.display = 'none';

            // Optionally update the session data in Django
            fetch('/update_share_status/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for security
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ shared: true })
            }).then(response => {
                if (response.ok) {
                    console.log('Share status updated successfully.');
                }
            });
        });
    }
  });
</script>






     <script>
  function showImage(imageSrc) {
    document.getElementById("modalImage").src = imageSrc;
    document.getElementById("imageModal").style.display = "flex"; // Using 'flex' to center the image
  }

  function closeImage() {
    document.getElementById("imageModal").style.display = "none";
  }
</script>

















    <script>
    document.getElementById('newsletter-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        var form = event.target;
        var formData = new FormData(form);

        // Send form data using AJAX
        fetch(form.action, {
            method: form.method,
            body: formData,
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(function(response) {
            if (response.ok) {
                // On success, clear the form and show success message
                form.reset();
                document.getElementById('success-message').style.display = 'block';
            } else {
                // Handle errors here (you can add some user feedback)
                alert('There was an issue with your submission. Please try again.');
            }
        })
        .catch(function(error) {
            // Handle network or other errors
            console.error('Error:', error);
            alert('Submission failed. Please check your connection and try again.');
        });
    });
</script>
    <script
      data-cfasync="false"
      src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="{% static 'plugins/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'plugins/popper.min.js' %}"></script>
    <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'plugins/slick/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'plugins/slick-animation.min.js' %}"></script>
    <script src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'plugins/sticky-sidebar/dist/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'plugins/gmap3.min.js' %}"></script>
    <!-- custom scripts-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
