{% load static %}
<html lang="en">
  <head><!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WHR6H0QVCM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-WHR6H0QVCM');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>SIGN UP | FUNAAB BUY</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/site.webmanifest' %}">

    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;amp;subset=latin-ext"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/owl-carousel/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/owl-carousel/assets/owl.theme.default.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/slick/slick/slick.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/nouislider/nouislider.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/lightGallery-master/dist/css/lightgallery.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'plugins/select2/dist/css/select2.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header class="header header--1" data-sticky="true">
      <div class="header__top">
        <div class="ps-container">
          <div class="header__left">
            <div class="menu--product-categories"></div>
            <a class="ps-logo" href="index"
              ><img src="{% static 'img/logo_light.png' %}" alt=""
            /></a>
          </div>
          <div class="header__center"></div>
        </div>
      </div>
      <nav class="navigation">
        <div class="ps-container">
          <div class="navigation__left">
            <div class="menu--product-categories"></div>
          </div>
          <div class="navigation__right">
            <ul class="menu">
              <li>
                <a href="index">Home</a><span class="sub-toggle"></span>
              </li>
              <li class="menu-item-has-children has-mega-menu">
                <a href="shop-default-2">Shop</a
                ><span class="sub-toggle"></span>
                <div class="mega-menu">
                  <div class="mega-menu__column">
                    <h4>Catalog Pages<span class="sub-toggle"></span></h4>
                    <ul class="mega-menu__list">
                      <li><a href="electronics">Electronics</a></li>
                      <li><a href="home">Home &amp; Kitchen </a></li>
                      <li><a href="beauty">Health &amp; Beauty</a></li>
                      <li>
                        <a href="jewelry">Jewelry &amp; Accessories</a>
                      </li>
                      <li><a href="apparel">Apparel &amp; Fashion</a></li>
                      <li><a href="food">Food</a></li>
                      <li>
                        <a href="computers">Gadgets &amp; Computers</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="menu-item-has-children has-mega-menu">
                <a href="#">Pages</a><span class="sub-toggle"></span>
                <div class="mega-menu">
                  <div class="mega-menu__column">
                    <h4>Basic Page<span class="sub-toggle"></span></h4>
                    <ul class="mega-menu__list">
                      <li><a href="about">About Us</a></li>
                      <li><a href="vendor">Become a Vendor </a></li>
                      <li><a href="sell">Sell Product</a></li>
                      <li><a href="faqs">FAQ's</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="contact">Contact Us</a
                ><span class="sub-toggle"></span>
              </li>
               <li><a  href="login">Log In </a><span class="sub-toggle"></span></li>
                        <li><a  href="register"> Sign up</a><span class="sub-toggle"></span></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <header class="header header--mobile" data-sticky="true">
      <div class="header__top">
        <div class="header__left">
          <p>Welcome to FUNAAB BUY Online Shopping Store !</p>
        </div>
      </div>
      <div class="navigation--mobile">
        <div class="navigation__left">
          <a class="ps-logo" href="index"
            ><img src="{% static 'img/logo_light.png' %}" alt=""
          /></a>
        </div>
      </div>
    </header>
    <div class="ps-page--my-account">
      <div class="ps-breadcrumb">
        <div class="container">
          <ul class="breadcrumb">
            <li><a href="index">Home</a></li>
            <li>My account</li>
          </ul>
        </div>
      </div>


<div class="ps-my-account">
    <div class="container">
        <form class="ps-form--account" method="post" action="login">
            {% csrf_token %}
            <div class="ps-tabs">
                <div class="ps-tab active" id="sign-in">
                    <div class="ps-form__content">
                        <h5>Log In Your Account</h5>
                        <div class="form-group">
                            <input class="form-control" type="email" name="email" placeholder="Email" required />
                        </div>
                        <div class="form-group form-forgot">
                            <input class="form-control" type="password" name="password" placeholder="Password" required />
                            
                        </div>
                        <div class="form-group submtit">
                            <button class="ps-btn ps-btn--fullwidth" type="submit">Login</button>
                        </div>
                        <br>
                        <!-- Display Django messages -->
                        {% if messages %}
                            <div id="message-container">
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }}" style="color:red;">{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
        <p>Don't have an account? <a href="register" style="color:#17a68b;">Register here</a>.</p>
    </div>
</div>



<br><br><br>







          {% csrf_token %}
          <div class="ps-newsletter">
      <div class="container">
    <form id="newsletter-form" class="ps-form--newsletter" action="https://formspree.io/f/myzgazpz" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ps-form__left">
                    <h3>Newsletter</h3>
                    <p>Subscribe to get information about products and coupons</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ps-form__right">
                    <div class="form-group--nest">
                        <input
                            class="form-control"
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Email address"
                            required
                        />
                        <button type="submit" class="ps-btn">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Success Message (initially hidden) -->
    <div id="success-message" style="display: none; margin-top: 20px; color: green;">
        Thank you for subscribing! You'll receive our newsletter shortly.
    </div>
</div>
</div>
   
      <footer class="ps-footer">
      <div class="ps-container">
        <div class="ps-footer__widgets">
          <aside class="widget widget_footer widget_contact-us">
            <h4 class="widget-title">Contact us</h4>
            <div class="widget_content">
              <p>Call us 24/7</p>
              <h3>+2349134771812</h3>
              <p>Federal University of Agriculture, Abeokuta <br /></p>
            </div>
          </aside>
          <aside class="widget widget_footer">
            <h4 class="widget-title">Quick links</h4>
            <ul class="ps-list--link">
                <li><a href="about">About Us</a></li>
                <li><a href="vendor">Become a Vendor </a></li>
                 <li><a href="sell">Sell Product</a></li>
                 <li><a href="faqs">FAQ's</a></li>
            </ul>
          </aside>

          <aside></aside>
        </div>
      </div>
    </footer>

     
    <div class="ps-panel--sidebar" id="menu-mobile">
        <div class="ps-panel__header">
            <h3>Pages</h3>
        </div>
        <div class="ps-panel__content">
            <ul class="menu--mobile">
                               
               <li><a href="about">About Us</a></li>
                <li><a href="vendor">Become a Vendor </a></li>
                 <li><a href="sell">Sell Product</a></li>
                 <li><a href="faqs">FAQ's</a></li>
                 <li><a href="contact">Contact Us</a></li>
              
            </ul>
        </div>
    </div>


     <div class="ps-panel--sidebar" id="navigation-mobile">
        <div class="ps-panel__header">
            <h3>Categories</h3>
        </div>
        <div class="ps-panel__content">
            <div class="menu--product-categories">
               
                <div class="menu__toggle">
                    <ul class="menu--mobile">
                       <li><a href="electronics">Electronics</a>
                                        </li>
                                        <li><a href="home">Home & Kitchen </a>
                                        </li>
                                        <li><a href="beauty">Health & Beauty</a>
                                        </li>
                                        <li><a href="jewelry">Jewelry & Accessories</a>
                                        </li>
                                        <li><a href="apparel">Apparel & Fashion</a>
                                        </li>
                                        <li><a href="food">Food</a>
                                        </li>
                                        <li><a href="computers">Gadgets & Computers</a>
                                        </li>
                        
                    </ul>
                </div>
            </div>
          
        </div>

      

    </div>
    <div class="navigation--list">
        <div class="navigation__content"><a class="navigation__item " href="index"><i class="fas fa-home"></i><span> Home</span></a>

        <a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile"><i class="fas fa-shopping-cart"></i><span>Shop</span></a>

            <a class="navigation__item ps-toggle--sidebar " href="#menu-mobile"><i class="fas fa-info-circle"></i><span> Pages</span></a>

            <a class="navigation__item " href="register"><i class="fas fa-user"></i>

<span> Account</span></a></div>


    </div>
    <script>
    document.getElementById('newsletter-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        var form = event.target;
        var formData = new FormData(form);

        // Send form data using AJAX
        fetch(form.action, {
            method: form.method,
            body: formData,
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(function(response) {
            if (response.ok) {
                // On success, clear the form and show success message
                form.reset();
                document.getElementById('success-message').style.display = 'block';
            } else {
                // Handle errors here (you can add some user feedback)
                alert('There was an issue with your submission. Please try again.');
            }
        })
        .catch(function(error) {
            // Handle network or other errors
            console.error('Error:', error);
            alert('Submission failed. Please check your connection and try again.');
        });
    });
</script>

<!-- JavaScript to hide the error message after 5 seconds -->
<script>
    setTimeout(function() {
        const messageContainer = document.getElementById('message-container');
        if (messageContainer) {
            messageContainer.style.display = 'none';
        }
    }, 5000);
</script>



   <script>
    document.addEventListener('DOMContentLoaded', function() {
        const locationSelect = document.getElementById('user-location');
        const customLocationGroup = document.getElementById('custom-location-group');

        if (locationSelect) {
            locationSelect.addEventListener('change', function() {
                if (this.value === 'custom') {
                    customLocationGroup.style.display = 'block';
                } else {
                    customLocationGroup.style.display = 'none';
                }
            });
        }
    });
</script>

    <script
      data-cfasync="false"
      src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="{% static 'plugins/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'plugins/popper.min.js' %}"></script>
    <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'plugins/slick/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'plugins/slick-animation.min.js' %}"></script>
    <script src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'plugins/sticky-sidebar/dist/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'plugins/gmap3.min.js' %}"></script>
    <!-- custom scripts-->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
